* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

img,
iframe {
  max-width: 100%;
}

table {
  width: 100%;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

fieldset {
  border: 2px groove threedface;
  display: block;
  padding-block-end: 0.75em;
  padding-block-start: 0.35em;
  text-align: center;
}

fieldset legend {
  display: inline-block;
  color: inherit;
  background: none;
  vertical-align: top;
}

::-webkit-selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-webkit-input-placeholder {
  -webkit-transition: text-indent 0.5s ease, color 0.5s ease;
  transition: text-indent 0.5s ease, color 0.5s ease;
  color: #969696;
}

input::-moz-placeholder {
  color: #969696;
}

::ms-input-placeholder {
  color: #969696;
}

[placeholder]:focus::-webkit-input-placeholder {
  text-indent: 10em;
  color: transparent;
}

[placeholder]:focus::-moz-input-placeholder {
  text-indent: 10em;
  color: transparent;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  color: #232323;
  background: #ffffff;
  font-size: 14px;
  overflow-x: hidden;
}

.title {
  font-family: 'Lora', cursive;
}

body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100wh;
}
@mixin navButton() {
  box-shadow: 9px 8px 18px rgb(6, 6, 6);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  padding: 0;
  border: none;
  &:hover {
    box-shadow: 9px 8px 10px rgb(6, 6, 6);
  }
}
button.add {
  background-image: url(assets/ajouterunathlete_normal.png);

  @include navButton();
}
button.home {
  background-image: url(assets/afftableau_normal.png);

  @include navButton();
}
